/* ==========================================================================
   Downloads
   ========================================================================== */

.downloads-list {
  margin: 1.5em 0;
}

.downloads-list__item {
  padding: 1.2em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin-bottom: 1em;

  h3 {
    margin: 0 0 0.3em;
    font-size: $type-size-5;
  }

  p {
    margin: 0 0 0.5em;
    font-size: $type-size-6;
    color: $gray;
  }
}

.downloads-list__link {
  display: inline-block;
  font-size: $type-size-6;
  color: $info-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
